{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'card-2.css' %}">
</head>
<body>


  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
    </div>
    <div class="description">
      <h1>Manzana</h1>
      <p> </p>
      <p class="text" ><input placeholder="1" type="text" class="cantidad" >x  kg/8.90 R$ </p>
      <p class="calculo-price"> <br></p>
      <div class="btn">
        <input type="button" value="buy">
        <input type="button" value="info">
      </div>
    </div>
 
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      
    </div>
    <div class="description">
      <h1>Manzana</h1>
      <p> </p>
      <p class="text" ><input placeholder="1" type="text" class="cantidad" >x  kg/8.90 R$ </p>
      <p class="calculo-price"> <br></p>
      <div class="btn">
        <input type="button" value="buy">
        <input type="button" value="info">

     </div>
      
    </div>
  </div>
</body>
</html>